---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello fellow researcher</h1>
			<p>
				I'm Diego Martín Fernández, a Software Engineer with a degree from the University of Oviedo and currently a researcher at <a href="https://www.weso.es/">WESO</a>, a research group focused on Knowledge Graphs and Semantic Web technologies.
			  </p>
			  <p>
				My passions lie in programming, data structures, and all things data-related. I have valuable experience in both research and private sector technologies, bringing a well-rounded perspective to the work I do. My goal is to ensure that the projects I engage in provide real value beyond just enhancing my resume.
			  </p>
			  <p>
				As for my personality? Let's just say, my family calls me "weird"—but I like to think of myself as being **freaking awesome** 🥵🥵🥵.
			  </p>
		</main>
		<Footer />
	</body>
</html>
